 <div class="outer-box"></div>
<div class="outer-circle"></div>
<div class="mid-circle"></div>
<div class="inner-circle"></div> 
<style/>
* {
    margin: 0;
    background: #222730;
}

.outer-box {
    width: 400px;
    height: 150px;
    background: #4CAAB3;
    transform: translateY(75px);
}

.outer-circle {
    width: 250px;
    height: 250px;
    transform: translate(75px, -125px) rotate(45deg);
    background: #222730;
}

.mid-circle {
    width: 150px;
    height: 150px;
    background: #4CAAB3;
    transform: translate(125px, -325px) rotate(45deg);
}

.inner-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #393E46;
    transform: translate(175px, -425px);
}
