<div class="overlay">
  <div class="right"></div>
  <div class="left"></div>
  <div class="up"></div>
</div> 
<style/>
  body { 
    margin: 0;
    background: #223E1F;
    display: grid; 
    place-items: center; 
  }
  .overlay { 
    position: relative;
    width: 400px;
  }
  .overlay>div { 
    position: absolute;
    background: #BFE33A; 
  }
  .left, .right { 
    width: 90px;
    height: 300px; 
    top: -96px; 
    border-radius: 40px; 
  }
  .left { 
    left: 60px; 
    transform: rotate(60deg);
  }
  .right { 
    right: 60px;
    transform: rotate(-60deg);
  }
  .up { 
    width: 90px;
    height: 150px;
    left: 155px; 
  }
